/*=====================DIAGNOSE==========================*/

.best-mobile-app h3 {
  font-size: 18px;
  font-weight: normal;
}

.kostenfreies-arztgespraech {
  margin-bottom: 15%;
}

.diagnose-img img {
  width: 60%;
}